@{
    ViewData["Title"] = "Home Page";
}


    <div class="left-section">
    <img src="~/lib/gcs/images/gcs.png" alt="United Win Logistics Logo" class="logo">
        <p class="slogan">致敬致诚致信，共创共盈共享<br>Around the clock,Around the world</p>
    </div>
    <div class="right-section">
        <h2>用户登录</h2>
        <form id="loginForm">
            <label for="employeeId">工号:</label>
            <input type="text" id="employeeId"><br>

            <label for="password">密码:</label>
            <input type="password" id="password"><br>

            <label for="office">Office:</label>
            <select id="office" required>
                <option value="SZ1">SZ1</option>
                <option value="OtherOffice">OtherOffice</option>
            </select><br>

            <label for="accountingSet">财务账套:</label>
            <select id="accountingSet" required>
                <option value="Account1">Account1</option>
                <option value="Account2">Account2</option>
            </select><br>

            <input type="submit" value="登录">
        </form>
    </div>
